<div class="form_group">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <app-stock-branch [parent]="form">

        </app-stock-branch>

        <app-stock-prodect [parent]="form">
            [products]="products"
        </app-stock-prodect>

        <app-stock-selector [parent]="form">

        </app-stock-selector>



        <div>
            <button type="submit" [disabled]="form.invalid"> Submit Details</button>
        </div>

    </form>
</div>

<pre> {{form.value | json}} </pre> Hello World..!